################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KodBot/.vs/KodBot/v16/Server/sqlite3/db.lock
